

@media (min-width: 1049px) {
  .shape{
    display: inline;
  }

  .hero{
    background-image: none;
  }

}

/* --------------------iPad Landscape-------------------- */

@media (min-width: 769px) and (max-width: 1048px) {

  .wrapper{
    width: 90%;
  }

  .design{
    width: 27vw;
    height: 27vw;
  }

}

/* --------------------iPad Portrait-------------------- */

@media (max-width: 768px) {

  /* Header */

  header .wrapper h4{
    display: none;
  }

  /* Features */

  .flex{
    display: block;;
  }

  .feature{
    width: 100%;
    float: none;
    margin: 50px 0 0 0;
    padding: 0;
  }

  .feature:last-child{
    margin-bottom: 50px;
  }

  h2{
    padding-bottom: 25px;
  }

  .feature p{
    padding-bottom: 25px;
  }

  .feature img{
    position: relative;
  }

  /* Designs */

  #designs{
    padding: 50px 0 50px 0;
  }

  .design{
    width: 100%;
    height: 70vw;
    margin: 0 0 25px 0;
  }

  .design:last-child{
    margin: 0;
  }

  /* Footer */

  footer .wrapper h4{
    display:none;
  }
}

/* --------------------iPhone Partrait-------------------- */

@media (max-width: 414px) {

  .wrapper{
    width: 90%;
  }

  .design{
    height: 90vw;
  }

}
